<% if application_service.variables.present? %>
	<% application_service.variables.each do |variable|%>
		<label><%= variable.label %></label>
		<% if variable.field_type.include? 'password' %>
			<%= variable.value.to_s.length.times.map{ '*' }.join() %>
		<% else %>
			<%= variable.value %>
		<% end %><br>
	<% end %>
<% else %>
	Unable to load variables. Check that service is running.
<% end %>
<% #= ap(application_service.variable_definitions, plain: true, index: false).html_safe %>
