<div class="panel panel-default top-gap">

	<div class="panel-heading">
		<%= render "application_service_header", application_service: application_service %>
	</div>

	<div class="panel-body">
		<%= render "application_service_body", application_service: application_service %>
	</div>

</div>