<div class="">

	<div class="pull-right">
		<button class="btn btn-lg btn-default btn-noborder" type="button" data-toggle="collapse" data-target="#application_service_settings_<%= index.to_s%>" aria-expanded="false" aria-controls="collapseExample">
		  <i class="fa fa-cog"></i> <span class="caret"></span>
		</button>
	</div>
	<% fa_handle = Engines::Services.titles_data[application_service.existing_connection.service_detail[:service_container].to_sym][:fa_icon] %>
	<%= fa(fa_handle) + ' ' + application_service.existing_connection.title %>

	<p><small>
		<%= application_service.existing_connection.description %>
		(<%= application_service.existing_connection.publisher_namespace.to_s + " " + application_service.existing_connection.type_path.to_s%>)
	</small></p>

</div>
