<div class="">

	<div class="pull-right">
		<button class="btn btn-lg btn-default btn-noborder" type="button" data-toggle="collapse" data-target="#application_service_settings_<%= index.to_s%>" aria-expanded="false" aria-controls="collapseExample">
		  <i class="fa fa-cog"></i> <span class="caret"></span>
		</button>
	</div>
	<%= content_tag(:i, nil, class: 'fa fa-' + application_service.existing_connection.service_detail.fa_icon.to_s) + ' ' + application_service.existing_connection.service_detail.title %>

	<p><small>
		<%= application_service.existing_connection.service_detail.description %>
		(<%= application_service.existing_connection.publisher_namespace.to_s + " " + application_service.existing_connection.type_path.to_s%>)
	</small></p>

</div>
