<% 	available_services = @application_services_properties.application.available_services %>

<div class="btn-group dropdown">

	<button class="btn btn-lg btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
		<%= content_tag(:i, "", class: "fa fa-plus") + " Add" %>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">

		<% available_services.each do |available_service| %>
		<li>
		  	<% title_data = Engines::Services.titles_data[available_service[:service_container].to_sym] %>
		  	<% fa_icon = title_data[:fa_icon] %>
		  	<% title = title_data[:title] %>
			<%= link_to(
			fa(fa_icon) + ' ' + available_service[:title] + ' - ' + title,
			new_application_service_connector_type_path(
				application_name: @application_services_properties.application.container_name,
				application_service_connector: {
					type_path: available_service[:type_path],
					publisher_namespace: available_service[:publisher_namespace]
				}
			),
			class: "btn-lg trigger-response-modal")
			%>

		</li>
		<% end %>

	</ul>
</div>