<div class="col-sm-8 col-sm-offset-2">
  <div class=" bs-example">
  <div class="form-group">
    <label class="control-label">
      <%= label %>
    </label>
    <div class="well well-sm">
      <%= text %>
    </div>
  </div>
</div></div>