<%  text ||= ""
    label ||= ""
    label_width ||=2 
    text_width ||= 10 %>

  <div class="row form-group">
	<div class="col-sm-<%= label_width %>">
    	<label class="control-label">
      		<%= label %>
    	</label>
	</div>
	<div class="col-sm-<%= text_width %>">
      <%= SharedViews.value_as_html text %>
    </div>
  </div>

