<%  field ||= :inspect
    label ||= field.to_s.humanize.capitalize %>

  <div class="row form-group">
	<div class="col-sm-2">
    	<label class="control-label">
      		<%= label %>
    	</label>
	</div>
	<div class="col-sm-10">
      <%= SharedViews.value_as_html object.send(field) %>
    </div>
  </div>


