<%= link_to 'Back', welcome_index_path %>
<table>
	<th>Title</th>
	<th>Url</th>
	<th>Maintainer</th>
<% @galleries.each do |gallery|%>
	<% if gallery != nil %>
<tr>
	<td><%= gallery.title %></td>
	<td><%= gallery.blueprints_url %></td>
	<td><%= link_to 'Show', gallery_path(gallery.short_name) %></td>
</tr>
  
<% end  %>

	<%end%>

</table>
