
<strong>Required</strong>
<p>
	<%= @error_mesg %>
	<p>
<%= @blueprint %>
		</p>
	Agree to Licence <br>
	Domain name<br>
	Host name	
	<p>
		<strong>Optional</strong>
		</p>
		Variables set at Runtime
		<p>
		<strong>Advanced</strong>
		</p>
		<p>
	Memory suggested/option to set<br>
	Dbname dbuser dbpasswd<br> 
	db external host optionally<br>
	DBDriver<br>
	Volume mapping to existing volumes<br>
	enable Montitor<br>
	Self Starts (default false for blueprint and true for image)<br>
	Register DNS (default false for blueprint and true for image)<br>
	restart on crash<br>
	Global access (or local lan only)<br/>
	Host access limitations (ip and subnet access lists)<br>
	webprotect<br>
	webprotect auth source and details<br>
	
	
