<div class="col-sm-12">
  <h2><i class="fa fa-git-square"></i> Install from repository</h2>

<%= form_for @repository_url_installation do |f| %>
  <%= render 'shared/form/errors', f: f %>
  <%= render 'shared/form/text_field', name: :repository_url, label: 'URL', f: f %>
  <%= render 'shared/form/cancel_and_submit_buttons', f: f, cancel_path: installer_path %>
<% end %>

</div>