<div class="col-sm-6">
	<h2><%= content_tag(:i, "", class: "fa fa-clock-o") %> System update</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">

		
			    <%= link_to content_tag(:i, "", class: "fa fa-arrow-circle-up") + ' Update Engines', update_engines_system_update_path, class: "btn btn-lg btn-default",
						data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the Engines system software?" } %>
			    <%= link_to content_tag(:i, "", class: "fa fa-arrow-circle-o-up") + ' Update base system', update_base_system_update_path, class: "btn btn-lg btn-default",
						data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the base system software?" } %>
		

</div>


