<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-clock-o") %> Updating</h2>
	<div id="updating_system_page_reloader" style="display:none;"><div id="updating_system_page_reloader_done"></div></div>
</div>

