<%= f.fields_for :network do |ff| %>
<% domains = Domain.all.map(&:domain_name) %>
  <div class="col-sm-12">
    <legend>URL</legend>
  </div>
  <%= render partial: 'shared/form/text_field', locals: {name: :host_name, tooltip: "Letters, numbers and '.'", f: ff} %>
  <%= render partial: 'shared/form/select', locals: {name: :domain_name, collection: domains, tooltip: "Letters, numbers and '.'", f: ff} %>
  <div class="col-sm-12">
    <legend>HTTP protocol</legend>
  </div>
  <%= render partial: 'shared/form/radio_buttons', locals: {name: :http_protocol, label: false, collection: ['HTTPS only', 'HTTP only', 'HTTPS and HTTP'], tooltip: "Select a protocol.", f: ff} %>
<% end %>