<div class="top-gap">
  <div class="gallery-panel">
    <div class="input-group btn-group btn-group-lg">
      <span class="input-group-addon"><%= hosted_domain.domain_name %></span>
      <%= link_to (content_tag(:i, "", class: "fa fa-edit") + ' Edit'), edit_hosted_domain_path(id: hosted_domain.id), class: "btn btn-default gallery-entry-button trigger-response-modal" %>
      <%= link_to (content_tag(:i, "", class: "fa fa-certificate") + ' SSL'), new_hosted_domain_ssl_certificate_path(id: hosted_domain.id), class: "btn btn-default gallery-entry-button trigger-response-modal" %>
      <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), hosted_domain, method: :delete, data: { confirm: 'Are you sure that you want to remove this hosted domain?' }, class: 'btn btn-default gallery-entry-button' %>
    </div>
  </div>
</div>
