<span class="galleries settings">
  <div class="col-sm-12 top-gap">
    <h3 class="control-panel-title"><i class="fa fa-globe"></i> Domains</h3>
    <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', settings_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

    <% if @hosted_domains.present? %>
        <% @hosted_domains.each do |hosted_domain| %>
            <%= render partial: "show", locals: { hosted_domain: hosted_domain } %>
        <% end %>
    <% else %>
        <p class='top-gap'>No hosted domains.</p>
    <% end %>

    <div class="btn-group">
      <% #= link_to content_tag(:i, "", class: "fa fa-list") + " Add from list", "#", data: {toggle: "modal", target: "#modal_add_gallery"}, role: "button", class: "btn btn-default" %>
      <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_hosted_domain_path, class: "btn btn-primary btn-lg top-gap trigger-response-modal" %>
    </div>
  </div>
</span>

