<div class="home_page_app_gadget">
  <a class="btn btn-default btn-launcher trigger-response-modal" href=<%= control_panel_path %> class="trigger-response-modal">
    <div class= "launcher_icon_and_label_holder">
      <%= content_tag(:i, nil, class: "fa fa-cogs fa-launcher launcher-icon") %>
    </div>
  </a>
</div>

<div class="home_page_app_gadget">
  <a class="btn btn-default btn-launcher trigger-response-modal" href=<%= destroy_user_session_path %> class="trigger-response-modal">
    <div class= "launcher_icon_and_label_holder">
      <%= content_tag(:i, nil, class: "fa fa-sign-out fa-launcher launcher-icon") %>
    </div>
  </a>
</div>