  <div class="contaner-fluid">
    <div class="desktop-view">

      	<% if @applications.present? %>
		    <% @applications.each do |application| %>
				<div class="application desktop_object", id="<%= application.container_name %>", data-url="<%= desktop_applications_path(application_name: application.container_name) %>"></div>
		    <% end %>
		<% else %>
		    <p class="top-gap" style="color: <%= @display_settings.icon_text_color %>;">No applications are running.<br>
		<% end %>

    </div>
  </div>





