 <div class="btn-group-lg dropdown pull-right top-gap">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bars"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">



			<% if @other_galleries.present? %>
				<% @other_galleries.each do |gallery| %>
	        	<li>
					<%= link_to gallery.name, installer_path(gallery_id: gallery.id), class: 'btn-lg trigger-response-modal' %>
		        </li>
				<% end %>
	            <li class="divider"></li>
			<% end %>
        	<li>
			  <% link_body = (content_tag(:i, '', class: 'fa fa-th') + ' Manage galleries'.html_safe) %>
			  <%= link_to link_body, galleries_path, class: 'btn-lg trigger-response-modal' %>
	        </li>
            <li class="divider"></li>
        	<!-- <li>
			  <% # = link_to (content_tag(:i, nil, class: "fa fa-file-text") + ' Install from Blueprint'), new_blueprint_install_path, class: 'btn-lg trigger-response-modal' %>
	        </li> -->
        	<li>
			  <%= link_to (content_tag(:i, nil, class: "fa fa-git-square") + ' Install from repository URL'), new_repository_url_installations_path, class: 'btn-lg trigger-response-modal' %>
	        </li>
        	<li>
			  <%= link_to (image_tag('docker_icon.png', height: '20') + ' Install from Docker image'), new_docker_hub_installation_path, class: 'btn-lg trigger-response-modal' %>
	        </li>

  </ul>
</div>

