  <div class="col-sm-12">
    <legend>Labels</legend>
  </div>
  <%= render partial: 'shared/form/text_field', locals: {name: :title, label: 'Title', tooltip: "Give the software a title.", f: f} %>
  <%= render partial: 'shared/form/text_area', locals: {name: :detail, label: 'Detail', tooltip: "Give the software a description.", f: f} %>
