<div class="modal fade" id="confirmation_popup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmation_popup_title"></h4>
        </div>
        <div class="modal-body" id="confirmation_popup_body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Cancel</button>
          <button type="button" id="confirmation_popup_accept_button" class="btn btn-danger btn-lg">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
