<div id="flash_message_template" style="display: none;">
	<div class="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <div class="message_body"></div>
	</div>
</div>

<div id="flash_message_display_area"></div>

<% flash.each do |name, msg| %>
  <% unless name == 'timedout' %>
	 <%= content_tag :div, msg.to_s, class:"hidden flash_message_data", data: {alertclass: name.to_s == 'notice' ? 'success' : 'danger'} %>
  <% end %>
<% end %>
