<!-- Modal -->
<div class="modal" id="waiting-for-response-modal" tabindex="-1" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-body">
      <div class='big-spinner' id='big_waiting_for_response_spinner' style="display: none;" >
        <%= content_tag(:i, "", class: "fa fa-spinner fa-spin") %> 
      </div>
    </div>
  </div>
</div>