<legend class="top-gap"></legend>
<label>Default library</label>: <%= @library_settings.default_library.name %><br>
<%= link_to content_tag(:i, '', class: 'fa fa-edit') + ' Edit', edit_library_settings_path, class: 'btn btn-lg btn-default trigger-response-modal' %>
