<div class="top-gap">
  <div class="typea_indexer_panel">
    <div class="input-group btn-group btn-group-lg">
      <% if library.id != 1 %>
	      <span class="input-group-addon"><%= library.name %></span>
    	  <%= link_to (content_tag(:i, "", class: "fa fa-edit") + ' Edit'), edit_library_path(library), class: "btn btn-default library-entry-button trigger-response-modal" %>
	      <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), library, method: :delete, data: { confirm: "Are you sure?", confirmdetail: "Are you sure that you want to remove this library?" } , class: 'btn btn-default' %>
	  <% end %>
    </div>
  </div>
</div>
