<div class='row'>

	<div class="col-sm-12">
		<h2><i class="fa fa-th"></i> Libraries</h2>
		<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
	</div>

	<div class="col-sm-12">
		<%= render 'settings' %>
		<legend class="top-gap">Added libraries</legend>
		<%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_library_path, class: "btn btn-lg btn-primary trigger-response-modal" %>
		<% if @libraries.present? %>
			<% @libraries.each do |library| %>
        <% if library.id != 1 %>
          <%= render partial: "show", locals: { library: library } %>
	      <% end %>
			<% end %>
		<% else %>
			<p class='top-gap'>
				No Libraries.
			</p>
		<% end %>
	</div>

</div>
