<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-arrow-circle-right") %> Installation report for <%= @application.container_name %></h2>
	<pre><%= @application.installation_report %></pre>
</div>

