<div class="col-sm-12 top-gap">
  <h3 class="control-panel-title"><i class="fa fa-home"></i> Default website</h3>
  <%= form_for @settings do |f| %>
    <%= render partial: 'shared/form/errors', locals: {f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :default_site, label: "URL", f: f} %>
    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: settings_path} %>
  <% end %>
</div>