<div class="col-sm-12 environment_variable_fields">

	<div class="panel panel-default top-gap">

		<div class="panel-body">

				<%= render 'shared/form/text_field', f: f, name: :name %>
				<%= render 'shared/form/text_field', f: f, name: :value %>
				
				<div class="col-sm-12 clearfix">
					<%= render 'shared/form/hidden_field', name: :_destroy, f: f %>
					<%= link_to content_tag(:i, nil, class:"fa fa-trash"), "javascript:;", onclick: "javascript: remove_fields(this); ",
					class: "btn btn-default btn-lg pull-right",
					data: { confirm: "Confirm", confirmdetail: "Remove environment variable?", holderclass: "environment_variable_fields" } %>
				</div>
			
		</div>
	</div>
</div>