<% if @softwares.present? %>
    <% @softwares.each do |software| %>
        <%= render partial: "softwares/desktop_gadget", locals: {software: software} %>
    <% end %>
<% else %>
    <p class="top-gap">Welcome to Engines. No software is installed.<br>
      Click on the button above to access the Installer.</p>
<% end %>
