<% if @softwares.present? %>
    <% @softwares.each do |software| %>
        <%= render partial: "softwares/desktop_gadget", locals: {software: software} %>
    <% end %>
<% else %>
    <p class="top-gap">Welcome to Engines. There is no software installed.<br>
      Install a new app using the Installer in the Control Panel.</p>
<% end %>
