<% state= @engine.read_state
 indicator_class = "indicator_" + state
%>

<div class="btn-group btn-group-lg">
  <a class="btn btn-default btn-launcher" href="http://<%= @engine.fqdn %>" target="_blank">
    <%= image_tag("_placeholder_for_missing_engine.jpg", class: "launcher-icon") %><br>
    <div class="launcher-label">
      <%= @engine.containerName %>
    </div>
  </a>
</div>