<span class='app-manager'>
  <div class="col-sm-12 top-gap">
    <h3 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-tablet") %> Apps</h3>
  </div>

  <% if @app_installs %>
      <% @app_installs.each do |app_install| %>
          <%= render partial: "apps/app_manager_gadget", locals: {app_install: app_install} %>
      <% end %>
  <% else %>
      <p>No applications installed.</p>
  <% end %>

  <div class="col-sm-12 top-gap">
    <h3 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-hdd-o") %> Services</h3>
  </div>

  <% @services.each do |service| %>
    <%= render partial: "services/app_manager_gadget", locals: {service: service} %>
  <% end %>

</span>

