<span class='app-manager'>

  <div class='row'>
    <div class="col-sm-12 top-gap">
      <h3 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-tablet") %> Software</h3>
    </div>

    <% if @softwares.present? %>
        <% @softwares.each do |software| %>
            <%= render partial: "softwares/app_manager_gadget", locals: {software: software} %>
        <% end %>
    <% else %>
        <div class="col-sm-12">No applications installed.</div>
    <% end %>
  </div>

  <div class='row'>
    <div class="col-sm-12 top-gap">
      <h3 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-hdd-o") %> Services</h3>
    </div>

    <% @service_names.each do |service_name| %>
      <%= render partial: "services/app_manager_gadget", locals: {service_name: service_name} %>
    <% end %>
  </div>

</span>

