<div class="top-gap">
  <div class="typea_indexer_panel">
    <div class="input-group btn-group btn-group-lg">
      <span class="input-group-addon"><%= domain.domain_name %></span>
      <%= link_to (content_tag(:i, "", class: "fa fa-edit") + ' Edit'), edit_domain_path(domain_name: domain.key), class: "btn btn-default trigger-response-modal" %>
      <%= link_to (content_tag(:i, "", class: "fa fa-certificate") + ' SSL'), domain_certificate_path(domain_name: domain.key), class: "btn btn-default trigger-response-modal" %>
      <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), domain_path(domain_name: domain.key), method: :delete, data: { confirm: "Confirm", confirmdetail: "Are you sure that you want to remove this domain?" } , class: 'btn btn-default' %>
    </div>
  </div>
</div>
