<div class="col-sm-12">
  <h2><i class="fa fa-globe"></i> Domains</h2>

  <div class="btn-group">
    <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', settings_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
    <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_domain_path, class: "btn btn-primary btn-lg trigger-response-modal" %>
  </div>

  <% if @domains.present? %>
      <% @domains.each do |domain| %>
        <%= render partial: "show", locals: { domain: domain } %>
      <% end %>
  <% else %>
    <p class='top-gap'>No hosted domains.</p>
  <% end %>

</div>

