<div class="col-sm-12 top-gap app_installs">

  <h3 class='control-panel-title'><i class='fa fa-edit'></i> Edit network properties</h3>

  <h3 class='control-panel-title'><%= @app_install.engine_name %></h3>

  <%= render 'edit_network_properties_form' %>

</div>