<div class="row">
  <div class="col-sm-12">

	<h2><%= content_tag :i, "", class: "fa fa-flag-checkered" %> Setup complete</h2>
	<p>Engines is ready.</p>
	<p>Click on the button below to open Engines in a new tab. Your browser will load a new security certificate from your server.</p>
	<p><%= link_to content_tag(:i, "", class: "fa fa-external-link") + " Open Engines in new tab", "/desktop", target: 'engines_mgmt', class: 'btn btn-lg btn-default' %></p>
	<p>Close this tab once you have opened the new tab.</p>

  </div>
</div>
