<% 	available_services = @application.available_services %>

<div class="dropdown pull-right">

	<button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		<%= content_tag(:i, "", class: "fa fa-plus-circle") + " Attach service" %>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">

		<% available_services.each do |available_service| %>
		<li>
			<%= link_to(
			available_service[:title],
			new_application_services_path(
			application_name: @application.container_name,
			application_service: {
			# title: available_service[:title],
			# description: available_service[:description],
			type_path: available_service[:type_path],
			publisher_namespace: available_service[:publisher_namespace],
			# variables_attributes: (available_service[:setup_params] || {} ).values
			}
			),
			class: "btn-lg trigger-response-modal")
			%>

		</li>
		<% end %>

	</ul>
</div>