<div class="new_software_form_advanced_fields">
  <legend>Resources</legend>
  <%= render partial: 'shared/form/text_field', locals: {name: :memory, tooltip: "How much memory should the system allocate to running this software.", f: f} %>
</div>