<% service_actionators = @service.actionator_params_with_unpopulated_values %>

<div class="col-sm-12">
	<h2 class=''><%= content_tag(:i, "", class: "fa fa-crosshairs") + " Actions for " + @service.container_name %></h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', services_control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
	<div class="top-gap">
		<% if service_actionators.present? %>
			<% service_actionators.each do |service_actionator| %>
        <div class='row'>
        	<div class="col-md-3 col-md-offset-2">
            <%= link_to service_actionator[:label] || 'No label',
									new_service_action_path(service_name: @service.container_name,
																			action_name: service_actionator[:name]),
									class: 'btn btn-default btn-lg top-gap trigger-response-modal'	%>
        	</div>
        	<div class="col-md-7">
        		<p><small>
              <%= service_actionator[:description] %>
        		</p></small>
        	</div>
        </div>
			<% end %>
		<% else %>
		  This service has no actions.
		<% end %>
	</div>
</div>
