<%= f.fields_for :resource do |ff| %>
  <div class="col-sm-12">
    <legend>Resources</legend>
  </div>
  <%= render partial: 'shared/form/text_field', locals: {name: :memory, tooltip: "How much memory should the system allocate to running this software.", hint: "Minimum is #{ff.object.required_memory}", f: ff} %>
  <%= ff.hidden_field :required_memory %>
<% end %>
