<%= link_to 'Back', welcome_index_path %>
<table>
	<th>Title</th>
	<th>Url</th>
	<th>Maintainer</th>
<% @galleries.each do |gallery|%>
	<% if gallery != nil %>
<tr>
	<td><%= gallery.title %></td>
	<td><%= gallery.blueprints_url %></td>
</tr>
	<%end%>

<% end %>
<% blueprints_uri = URI(gallery.blueprints_url)
 http_response = Net::HTTP.get_response(blueprints_uri) %>
<%=response.body %> //this must show the JSON contents
</table>
