<%= link_to 'Back', welcome_index_path %>
<table>
	<th>Title</th>
	<th>Url</th>
	<th>Maintainer</th>
<% @galleries.each do |gallery|%>
	<% if gallery != nil %>
<tr>
	<td><%= gallery.title %></td>
	<td><%= gallery.blueprints_url %></td>
</tr>
	


<% blueprints_uri = URI::HTTP.new('http',nil,'192.168.108.243',3001,'/json_published_softwares',  "query", 'fragment')
 http_response = Net::HTTP.get_response(blueprints_uri) %>
<tr><td>
<%=response.body %> //this must show the JSON contents
</td>
</tr>
	<%end%>
<% end %>
</table>
