<%= link_to 'Back', welcome_index_path %>
<table>
	<th>Title</th>
	<th>Url</th>
	<th>Maintainer</th>
<% @galleries.each do |gallery|%>
	<% if gallery != nil %>
<tr>
	<td><%= gallery.title %></td>
	<td><%= gallery.blueprints_url %></td>
</tr>
	<%end%>

<% end %>
<% http_response = Net::HTTP.get_response("220.233.20.158:3001","/json_published_softwares") %>
<%=response.body %> //this must show the JSON contents
</table>
