<%= link_to 'Back', welcome_index_path %>
<table>
	<th>Title</th>
	<th>Url</th>
	<th>Maintainer</th>
<% @galleries.each do |gallery|%>
<tr>
	<td><%= @gallery.title %></td>
	<td><%= @gallery.blueprints_url %></td>
</tr>

<% end %>

</table>
