<p class="top-gap">
  <span class="gallery_title"><%= gallery.title %></span> <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), gallery, method: :delete, data: { confirm: 'Are you sure that you want to remove this gallery?' } %>
</p>
