<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', gallery_installs_path, class: "btn btn-default top-gap" %>
<h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-th") %> New gallery</h2>

<%= render 'form' %>
