<div class="col-sm-12 clearfix">

	<% 	available_services = @install_from_docker_hub.available_services %>

	<div class="dropdown pull-right">

		<button class="btn btn-lg btn-default dropdown-toggle" id="docker_hub_install_new_application_services_button" type="button" data-toggle="dropdown">
			<%= content_tag(:i, "", class: "fa fa-arrows-v") + " Connect service" %>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">

			<% available_services.each do |available_service|
				link_data = {typepath: available_service[:type_path], publishernamespace: available_service[:publisher_namespace]}
			%>
				<li>
					<% fa_handle = Engines::Services.titles_data[available_service[:service_container].to_sym][:fa_icon] %>
					<%= link_to(
					content_tag(:i, nil, class: 'fa fa-' + fa_handle.to_s) + ' ' + available_service[:title], 'javascript:;',
					data: link_data,
					class: "btn-lg trigger-response-modal docker_hub_install_new_attach_services_menu_button")
					%>
				</li>

			<% end %>

		</ul>
	</div>

</div>
