<div class="col-sm-12 clearfix">
	<%= link_to(
	content_tag(:i, nil, class: "fa fa-plus-circle") + " Add environment variable", 'javascript:;',
	class: "btn btn-default btn-lg pull-right trigger-response-modal", id: "docker_hub_install_new_environment_variable_button")
	%>
</div>
