<%  label ||= name.to_s.humanize.capitalize %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <%= f.label name, class: 'control-label' do %>
      <%= label %>
    <% end %>
    <%= f.country_code_select name, nil, {include_blank: true}, class: 'form-control input-lg' %>
  </div>
</div>
