<%  field_label ||= field_name.to_s.humanize.capitalize %>

<div class="form-group form-group-lg">
  <div class="col-sm-4 control-label">
    <%= f.label field_name, field_label, class: 'control-label' %>
  </div>
  <div class="col-sm-6 input-lg">
    <%= f.country_code_select field_name, nil, {include_blank: true}, class: 'form-control' %>
  </div>
</div>