<%  label ||= "?"
    comment ||= nil %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label class="control-label">
      <%= label %>
    </label>
    <% if comment.present? %><p><small><%= comment %></small></p><% end %>
  </div>
</div>
