<% label ||= false %>
<% link_text ||= url %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <% if label_text != false %>
      <%= label '', '', class: 'control-label' do %>
        <%= label_text %>
      <% end %>
    <% end %>
    <%= link_to link_text, url, target: "_blank" %> 
  </div>
</div>
