<%  label_primary = 'Password'
    label_secondary =  'Confirm password'

    if defined?(field_label)
      if field_label.kind_of?(String)
        label_primary = field_label
      elsif field_label.kind_of?(Array)
        label_primary = field_label[0] || ''
        label_secondary =  field_label[1] || ''
      end
    end %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <%= f.label name, label_primary, class: 'control-label' %>
    <%= f.password_field name, class: 'form-control input-lg' %>
  </div>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <%= f.label name.to_s + '_confirmation', label_secondary, class: 'control-label' %>
    <%= f.password_field name.to_s + '_confirmation', class: 'form-control input-lg' %>
  </div>
</div>
