<%  label ||= 'Password' %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <%= f.label name, label, class: 'control-label' %>
    <%= f.password_field name, class: 'form-control input-lg' %>
  </div>
</div>
