<%  label_primary = 'Password'
    label_secondary =  'Confirm_password'

    if defined?(field_label)
      if field_label.kind_of?(String)
        label_primary = field_label
      elsif field_label.kind_of?(Array)
        label_primary = field_label[0] || ''
        label_secondary =  field_label[1] || ''
      end
    end %>

<div class="form-group form-group-lg">
  <div class="col-sm-4 control-label">
    <%= f.label field_name, label_primary, class: 'control-label' %>
  </div>
  <div class="col-sm-6 input-lg">
    <%= f.password_field field_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group form-group-lg">
  <div class="col-sm-4 control-label">
    <%= f.label label_secondary %>
  </div>
  <div class="col-sm-6 input-lg">
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
</div>

