<%  label ||= name.to_s.humanize.capitalize %>
<%  tooltip ||= label %>
<%  value ||= nil %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <%= f.label name, class: 'control-label' do %>
      <%= label %>
    <% end %>
    <% if value.nil? %>
      <%= f.text_field name, title: tooltip, class: 'form-control input-lg' %>
    <% else %>
      <%= f.text_field name, value: value, title: tooltip, class: 'form-control input-lg' %>
    <% end %>
  </div>
</div>
