<% label ||= false %>

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <% if label.present? %>
	    <%= f.label name, class: 'control-label' do %>
	      <%= label %>
	    <% end %>
    <% end %>
    <div class="form-text-lg"><%= text %></div> 
  </div>
</div>
