<div class="btn-group btn-group-lg">
  <a class="btn btn-default btn-launcher" href="http://<%= @application.fqdn %>" target="_blank">
    <%= image_tag("_placeholder_for_missing_engine.jpg", class: "launcher-icon") %><br>
    <div class="launcher-label">
      <%= content_tag(:i, "", class: "fa fa-exclamation-triangle indicator_stopped") if @application.read_state != "running" %> <%= @application.containerName %>
    </div>
  </a>
</div>


