<div class="col-sm-12 top-gap">
	<legend>Memory</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_applications_memory_usage') %>
		<%= image_tag('/charts/applications_memory_usage') %>
	</div>
</div>