 <div class="btn-group-lg dropdown pull-right top-gap">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bars"></i>&nbsp<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <% if params[:action] == 'info' %>
		<%= link_to content_tag(:i, "", class: "fa fa-cog") + ' Settings', system_path, class: "btn-lg trigger-response-modal" %>
	  <% else %>
		<%= link_to content_tag(:i, "", class: "fa fa-info") + ' Info', info_system_path, class: "btn-lg trigger-response-modal" %>
	  <% end %>
    </li>
	<li class="divider"></li>
    <li>
    	<%= link_to content_tag(:i, "", class: "fa fa-repeat") + ' Update', updater_system_path, class: 'btn-lg trigger-response-modal' %>
	</li>
    <li>
    	<%= link_to content_tag(:i, "", class: "fa fa-power-off") + ' Reboot', restart_system_path, class: 'btn-lg trigger-response-modal' %>
	</li>

  </ul>
</div>

