 <div class="btn-group-lg dropdown pull-right top-gap">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bars"></i>&nbsp<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">

    <li>
		<%= link_to content_tag(:i, "", class: "fa fa-tachometer") + ' Monitor', monitor_system_path, class: "btn-lg trigger-response-modal" %>
    </li>
	<li class="divider"></li>
    <li>
		<%= link_to content_tag(:i, "", class: "fa fa-user-secret") + ' Security', system_security_path, class: "btn-lg trigger-response-modal" %>
    </li>
	<li class="divider"></li>
    <li>
    	<%= link_to content_tag(:i, "", class: "fa fa-clock-o") + ' Update', system_update_path,
			class: 'btn-lg trigger-response-modal' %>
	</li>
    <li>
    	<%= link_to content_tag(:i, "", class: "fa fa-power-off") + ' Reboot', system_restart_path,
			class: 'btn-lg trigger-response-modal' %>
	</li>

  </ul>
</div>

