<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-power-off") %> Restart management interface</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_services_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
  	<%= link_to 'Reboot', system_restart_path,
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to restart the Engines system?" },
			class: 'btn btn-danger btn-lg pull-right' %>
</div>
