<div id="system_restarting" class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-power-off") %> Restarting</h2>

	<p>
		<br>
		<span id="restarting_message">Waiting for system to respond.</span>
	</p>

</div>
