<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-repeat") %> System update</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
    <%= link_to 'Update Engines', system_engines_update_path, class: "btn btn-lg btn-default",
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the Engines system software?" } %>
    <%= link_to 'Update base system', system_base_update_path, class: "btn btn-lg btn-default",
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the base system software?" } %>
</div>


