<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-exchange") %> Monitor system i/o</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
	<legend>Disks</legend>
	<div class="text-center">
		<%= image_tag('/charts/disk_usage') %>
  	</div>
	<legend>Network</legend>
	<div class="text-center">
		<%= image_tag('/charts/network_usage') %>
  	</div>
</div>
