<legend class="top-gap">Settings</legend>
<label>Default gallery</label>: <%= @gallery_settings.default_gallery.name %><br>
<%= link_to content_tag(:i, '', class: 'fa fa-edit') + ' Edit', edit_gallery_settings_path, class: 'btn btn-lg btn-default trigger-response-modal' %>
