<div class="top-gap">
  <div class="typea_indexer_panel">
    <div class="input-group btn-group btn-group-lg">
      <span class="input-group-addon"><%= gallery.name %></span>
      <%= link_to (content_tag(:i, "", class: "fa fa-edit") + ' Edit'), edit_gallery_path(gallery), class: "btn btn-default gallery-entry-button trigger-response-modal" %>
      <%= link_to content_tag(:i, "", class: "fa fa-trash-o"), gallery, method: :delete, data: { confirm: 'Are you sure that you want to remove this gallery?' }, class: 'btn btn-default gallery-entry-button' %>
    </div>
  </div>
</div>
