<div class="col-sm-12">
  <h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-th") %> Galleries</h2>

  <% if @galleries %>
      <% @galleries.each do |gallery| %>
          <%= render partial: "show", gallery: gallery %>
      <% end %>
  <% else %>
      <p>No galleries available</p>
  <% end %>

</div>