<div class="col-sm-12">
	<legend>
		Icon
	</legend>
</div>
<%= render 'shared/form/image_field', name: :icon, label: false, tooltip: "Add an icon.", f: f %>
<%= render 'shared/form/checkbox', name: :reset_icon, f: f %>
