

.loading-spinner {
  text-align: center;
  font-size: 48px;
  color: #999;
}

/*.wtf {
  color: #e33;
}*/

.indicator {
  font-size: 75%;
}

.indicator_running {
  color: #4b4;
}

.indicator_paused {
  color: #ff7f00;
}

.indicator_stopped {
  color: #f00;
}

.indicator_nocontainer {
  color: #bbb;
}

.indicator_state_error {
  color: #aaa;
}

.engine_running {
  background-color: #fff;
}

.engine_paused {
  background-color: #fffff9;
}

.engine_stopped {
  background-color: #fff0f0;
}

.engine_nocontainer {
  background-color: #eee;
}

.engine-gadget {
    width: 100%;
}

.engine-gadget .btn {
  height: 100px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  white-space: normal;
  word-wrap: break-word;
  border-radius: 0px;
  display: table;
}

.engine-gadget.service .btn {
  height: 60px;
}

.engine-gadget .icon_holder {
  height: 64px;
  width: 64px;
  display: table-cell;
  vertical-align: middle;
}

.engine-gadget .text_holder {
  height: 64px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
}


.app-manager .btn-group {
  margin-bottom:15px;
  margin-top: 15px;
}


.app-manager .engine_icon {
  max-height: 64px;
  max-width: 64px;
  margin: auto;
  border-radius: 5px;
}


.engine-gadget .dropdown-menu {
  min-width: 100%;
}

.dropdown-title {
    font-size: 120%;
    text-align: center;
    width: 100%;
} 


.engine-gadget-dropdown-menu {
  border-radius: 0px;
}

.control-panel-title {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #777;
}

.advanced_detail pre {
  max-height: 500px;
}
