.alert {
  margin: 0px;
  border: none;
  border-radius: 0px;
}

.top-gap {
  margin-top: 15px;
}

body {
  background-color: transparent;
  font-size: 18px;
  word-wrap: break-word;
}

#content .container {
  padding: 5px;
}

.show label,
th
 {
  padding-top: 2px;
  font-size: 14px;
  color: #999;
}

hr {
  margin: 2px;
}

#footer {
  height: 300px;
}


.no-text-wrap {
  overflow:hidden;
  white-space:nowrap;
}

.btn-xlg {
  font-size: 30px;
}

.btn-noborder {
	border: none;
}

.inactive_attribute {
	color: #ccc;
}
