.helper-to-vertical-align-middle {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.bring-forward{
	position: relative;
	z-index: 999;	
}

.alert {
  margin: 0px;
  border: none;
  border-radius: 0px;
}

.top-gap {
  margin-top: 15px;
}

body {
  background-color: transparent;
  font-size: 18px;
  word-wrap: break-word;
}

div.row{
  margin-left: 0px;
  margin-right: 0px;
}

#content .container {
  padding: 5px;
}

.dropdown-menu li .btn-lg {
	border-radius: 0px;
}

.show label,
th
 {
  padding-top: 2px;
  font-size: 14px;
  color: #999;
}

hr {
  margin: 2px;
}

#footer {
  height: 100px;
}


.no-text-wrap {
  overflow:hidden;
  white-space:nowrap;
}

.btn-xlg {
  font-size: 30px;
}

.btn-noborder {
	border: none;
}

.dropdown-menu-lg {
	font-size: 16px;
}

.inactive_attribute {
	color: #ccc;
}

.dropdown_help {
  padding: 10px;
  min-width: 200px;
}
