.alert {
  margin-bottom: 10px;
}

.top-gap {
  margin-top: 15px;
}

.navbar-buffer {
  height: 60px;
}

.modal-dialog {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

label {
  color: #777;
  margin-right: 5px;
  margin-bottom: 0px;
}

hr {
  margin: 2px;
}