.alert {
  margin: 0px;
  border: none;
  border-radius: 0px;
  font-size: 1.2em;
}

/*.alert button {
  font-size: 2em;
  margin-top: -5px;
}*/

.top-gap {
  margin-top: 15px;
}




body {
  background-color: transparent;
}



hr {
  margin: 2px;
}


/*#content {
  background-color: transparent;
}

.container {
  background-color: transparent;
}*/

#footer {
  height: 300px;
}



