

.advanced_detail .loading_spinner {
  text-align: center;
  font-size: 48px;
  color: #999;
}

/*.wtf {
  color: #e33;
}*/


/*.control-panel-title {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #777;
}*/

.advanced_detail pre {
  max-height: 500px;
}

.advanced_detail .modal-dialog {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
