.form-field-hint {
  padding-left: 10px;
  color: #428bca;
  font-style: italic;
  font-size: 75%;
}

.form-field-errors {
  padding-left: 10px;
  color: #f00;
  font-style: italic;
  font-size: 75%;
}


.selectize-input {
  height: 44px;
  font-size: 18px;
  padding: 10px 16px;
}

.selectize-input .item{
  padding-top: 2px;
}

.selectize-dropdown-content {
  line-height: 44px;
  font-size: 18px;
  padding: 10px 16px;
}

.form-icon {
  max-height: 96px;
  max-width: 96px;
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.form-image {
  max-width: 300px;
}

.field_with_errors label {
  color: #f00;
}

.field_with_errors input {
  border-color: #f00;
}

.field_with_errors select {
  border-color: #f00;
}

.form_errors {
	margin-bottom: 10px;
}

.form-text-lg {
  font-size: 18px;
  font-weight: normal;
}

.color_field{
	width: 50px;
}

.color_field .form-control.input-lg{
	padding: 3px;
}
