.btn.btn-launcher {
  width: 198px;
  min-height: 198px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.btn-launcher:hover {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

.launcher-icon {
  height: 144px;
  width: 144px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.launcher-label {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  line-height: 1;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  font-weight: 500;
  white-space: normal;
  word-wrap: break-word;
}

.background-splash { 
  background-color: #44d;
}

.home-view p {
  color: #fff;
}

.home-view {
  text-align: center;
}

.navbar-home {
  background-color: rgba(0,0,0,0.1);
}

.navbar-home .navbar-nav li a {
  color: #ccc;
}

.navbar-home .nav .active a {
  background-color: rgba(0,0,0,0.5); 
  color: #ccc;
}

.navbar-home .navbar-brand {
  color: #ccc;
}

.navbar-home .navbar-brand:hover {
  color: #fff;
}

.navbar-home .dropdown-menu li a {
  color: #ccc;
}

.navbar-home .dropdown-menu {
  background-color: rgba(0,0,0,0.5); 
}

.navbar-home .navbar-nav li a:hover {
  background-color: rgba(0,0,0,0.5); 
  color: #fff;
}

@media only screen and (max-width: 766px) {
  .navbar-home .navbar-collapse {background-color: rgba(0,0,0,0.75);}
}

.fa-launcher {
  height: 144px;
  width: 144px; 
  margin-top: 10px; 
  padding: 24px; 
  font-size: 96px; 
  color: #eee; 
  border-radius: 5px; 
  background-color: rgba(0,0,0,0.5);
 }

.fa-launcher-overlay .fa-launcher{
  position: absolute;
  height: 1px;
  margin-top: -87px; 
  margin-left: -47px; 
  font-size: 28px; 
  background-color: transparent;
 }

#sign-out_button {
  margin-top: 5px;
}

#sign-out_button .btn {
  width: 96px; 
  background-color: rgba(0,0,0,0.5);
  color: #eee;
  border: none;
}

#sign-out_button .btn:hover {
  background-color: rgba(0,0,0,0.75);
  color: #eee;
  border: none;
}

#home-page-alerts {
  border: none;
  background-color: rgba(255,255,255,0.3);
}

#home-page-alerts .alert-success {
  background-color: inherit;
  border: none;
}


#home-page-main-container {
  width: 100%;
}

.home-view .btn-group {
  vertical-align: top;
}

/*.stopped-engine {
  border: 2px solid rgba(255,55,55,0.3);
  border-radius: 7px; 
}*/