.installer .engine-install-icon-container {
  height: 100px;
  width: 100px;
  padding: 2px;
}

.installer .engine-install-row {
  min-height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
}

.installer .engine-install-row {
  color: #666;
}

.installer .engine-install-icon {
  max-height: 96px;
  max-width: 96px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

/*.installer .engine-install-button {
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.installer .engine-install-name {
  font-size: 1.2em;
}

.installer .engine-install-text {
  word-wrap: break-word;
}

.installer .engine-install-text small p {
  margin-bottom: 0px;
  color: #666;
}

#new_app_install_form_advanced_fields{
  display: none;
}

#installation_status pre {
  height: 500px;
}

.find_by_dropdown_submit_button{
	padding: 3px 20px;
	line-height: 1.42857;
	min-width: 100%;
	text-align: left;	
	border: none;
	border-radius: 0px;
	background-color: #FFF;
}

.find_by_dropdown_submit_button:hover{
	background-color: #F5F5F5;
}

.search-clear-button {
  background-color: #FFF;
  color: #555;
}

.search-clear-button:hover {
  color: #333;
}


/*.galleries .gallery_title {
  font-size: 2em;
  color: #333;
  padding-top: 10px;
}



.form-data {
  font-size: 18px;
  padding-top: 10px;
}*/