.installer .install-software-panel {
	padding: 5px;
}

.installer .install-software-panel a.btn {
  width: 100%;
  white-space: normal;
  padding: 5px;
  height: 250px;
}

.installer .engine-install-icon-area {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 96px;
  width: 100%;
  text-align: center;
}

.installer .engine-install-icon {
  vertical-align: middle;
  max-height: 96px;
  max-width: 250px;
  border-radius: 5px;
}

.installer .engine-install-name {
  max-height: 48px;
  overflow: hidden;
}

.installer .engine-install-detail {
  font-size: 0.8em;
  height: 78px;
  overflow: hidden;
}

#installer_find_button .btn{
	width: 100%;
}

#installer_library_select .btn{
	width: 100%;
}

@media (max-width:991px) {
	
	.installer .engine-install-name {
	  height: 24px;
	}
	
	.installer .engine-install-detail {
		height: 39px;
	}

	#installer_find_button .btn{
		width: inherit;
	}
	
	#installer_library_select .btn{
		width: inherit;
	}


}


.installer .engine-install-text small p {
  font-size: 0.8em;
  margin-bottom: 0px;
  color: #666;
}

.installer #search{
	min-width: 100px;
}

#new_app_install_form_advanced_fields{
  display: none;
}

#installation_status pre {
  height: 500px;
}



.find_by_dropdown_submit_button{
	padding: 3px 20px;
	line-height: 1.42857;
	min-width: 100%;
	text-align: left;	
	border: none;
	border-radius: 0px;
	background-color: #FFF;
}

.find_by_dropdown_submit_button:hover{
	background-color: #F5F5F5;
}

.search-clear-button {
  background-color: #FFF;
  color: #555;
}

.search-clear-button:hover {
  color: #333;
}
