.navbar {
  font-size: 20px;
}

.navbar-toggle {
	color: #f0582a;
	border-radius: 0;
    border: none;
    margin: 0px;
    font-size: 48px;
    line-height: 0;
    padding: 0;
    height: 50.35px;
    width: 100px;
}

#navbar_user_menu_toggle {
	width: 100px;
	text-align: center;
    line-height: 0;
	font-size: 32px;
    padding: 10px;
    height: 50.5px;
}


.in #navbar_user_menu_toggle {
	width: 100%;
	text-align: left;
    line-height: 0;
	font-size: 24px;
    padding: 8.25px 15px;
    height: 40.5px;
}



/*#navbar_user_menu_toggle:hover {
  background-color: rgba(0,0,0,0.1);
}*/

.navbar_user_icon {
	color: #f0582a;
}

.navbar-brand {
  font-size: 16px;
}

.navbar-icon {
  height: 30px;
  margin-top: -3px;
}

.navbar .dropdown-menu {
  font-size: inherit;
}

.navbar-buffer {
  margin-top: 50px;
}

.navbar-default .navbar-nav > li > a.dropdown-toggle {
  background-color: #fff;
}

/*.navbar-default .navbar-nav > li > a.dropdown-toggle:hover {
  background-color: #fff;
}*/

.navbar-default {
	background-color: #fff;
}

.navbar.user_signed_out {
	background-color: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
}



.navbar li a.dropdown-toggle {
	background-color: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
}

/*.navbar li a.dropdown-toggle:hover {
  background-color: rgba(0,0,0,0.1);
}*/

 .desktop-signin .dropdown-menu {
	margin-top: 5px;
	min-width: 400px;
	padding: 10px;
	padding-bottom: 0px;
	border-radius: 5px;
}

.signedout-navbar-nav {}

.signedout-navbar-header {}

#status_message_area_when_menu_collpased {
}

#system_status_navbar_message_button {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	padding: 15px;
	line-height: 20px;
	color: #777;
}

#system_status_navbar_message_button.notice {
	background-color: inherit;
}

#system_status_navbar_message_button.warning {
	background-color: #FCF8E3; 
}

#system_status_navbar_message_button.danger {
	background-color: rgb(242, 222, 222); 
}

#system_status_navbar_message.notice {
	color: inherit;
}

#system_status_navbar_message.danger {
	color: #A94442;
}

#system_status_navbar_message.warning {
	color: #8A6D3B;
}
