.navbar {
  font-size: 20px;
}

.navbar-toggle {
	color: #f0582a;
	border-radius: 0;
    border: none;
    margin: 0px;
    font-size: 48px;
    line-height: 0;
    padding: 0;
    height: 50px;
    width: 75px;
}

#navbar_user_menu_toggle {
	width: 100px;
	text-align: center;
    padding: 10px;
}

.in #navbar_user_menu_toggle {
	width: 100%;
	text-align: left;
    line-height: 0;
}

i.fa.navbar_user_icon {
	font-size: 30px;
	color: #f0582a;
}

.in i.fa.navbar_user_icon {
	font-size: inherit;
}

.navbar-brand {
  font-size: 16px;
}

.navbar-icon {
  height: 30px;
  margin-top: -3px;
}

.navbar .dropdown-menu {
  font-size: inherit;
}

.navbar-buffer {
  margin-top: 50px;
}

.navbar-default {
	background-color: #fff;
}

.navbar.user_signed_out {
	background-color: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
}



.navbar li a.dropdown-toggle {
	background-color: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
}

.desktop-signin .dropdown-menu {
	margin-top: 5px;
	min-width: 400px;
	padding: 10px;
	padding-bottom: 0px;
	border-radius: 5px;
}

.signedout-navbar-nav {}

.signedout-navbar-header {}

#system_status_area {
	display: inline-block;
	vertical-align: middle;
	margin-top: 9px;
	margin-left: 5px;
}

#system_status_navbar_message_button {
	padding: 8px;
	color: #777;
	text-decoration: none;
}

a#system_status_navbar_message_button:hover {
	background-color: #E6E6E6;
	cursor: pointer;
}

#system_status_navbar_message_icon {
	display: inline-block;
	line-height: 20px;
	padding: 5px;
}

#system_status_navbar_message_text {
	display: inline-block;
	line-height: 12px;
	font-size: 12px;
	height: 100%;
	margin-right: 10px;
	vertical-align: middle;
}

#system_status_navbar_message_text_vertical_align {
	width: 80px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#system_status_navbar_message_button.notice {
	background-color: inherit;
}

#system_status_navbar_message_button.warning {
	background-color: #FCF8E3;
}

#system_status_navbar_message_button.danger {
	background-color: rgb(242, 222, 222);
}

#system_status_navbar_message_button.notice {
	color: inherit;
}

#system_status_navbar_message_button.danger {
	color: #A94442;
}

#system_status_navbar_message_button.warning {
	color: #8A6D3B;
}

#system_status_navbar_message_button.danger:hover {
	background-color: #E3BCBC;
}

#system_status_navbar_message_button.warning:hover {
	background-color: #ECE8D3;
}
