#waiting-for-response-modal .big-spinner {
  font-size: 150px;
  text-align: center;
  color: #999;
  margin-top: 10%;
}

#waiting-for-response-modal .streamed-text-holder {
}

#waiting-for-response-modal .streamed-text {
  font-size: 5px;
  max-height: 30px;
  color: #999;
  overflow: hidden;
  background-color: #999;
}