#wait_for_system .wait_for_system_progress_bar {
	/*border: 1px solid #ccc;*/
	width: 100%;
	/*line-height: 0;*/
}

/*#wait_for_system .wait_for_system_progress_bar_done {
	display: inline-block;
	background-color: #ccc;
	width: 0%;
	height: 15px
}*/