#waiting-for-response-modal .big-spinner {
  font-size: 150px;
  text-align: center;
  color: rgba(200,200,200,0.2);
  margin-top: 10%;
}

#waiting-for-response-modal .streamed-text-holder {
}

#waiting-for-response-modal .streamed-text {
  /*font-size: 5px;*/
  /*max-height: 30px;*/
  /*color: rgba(200,200,200,0.2);*/
  /*overflow: hidden;*/
  /*background-color: #999;*/
}

