<div class="col-sm-12 top-gap backup-tasks">
  <h3 class="control-panel-title"><i class="fa fa-upload"></i> Backups</h3>
  <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', settings_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

<br><br><br><%= @backup_tasks %>
<br><br><br><%= @softwares %>



</div>