<div class="col-sm-12 top-gap backup-tasks">
  <h2><i class="fa fa-upload"></i> Backups</h2>
  <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

  <% @softwares.each do |software| %>
    <% engine_name = software.engine_name %>
    <div class="backup-panel">
      <h3><%= software.engine_name %></h3>

<%= EnginesBackupTask.all %>
<%= EnginesSoftware.persistant_services(software.engine_name) %>

    </div>
  <% end %>


</div>