 <div class="btn-group-lg dropdown pull-right top-gap">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-wrench"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">

        	<li>
			  <% link_body = (content_tag(:i, '', class: 'fa fa-th') + ' Galleries'.html_safe) %>
			  <%= link_to link_body, galleries_path, class: 'btn-lg trigger-response-modal' %>
	        </li>
            <li class="divider"></li>
        	<li>
			  <%= link_to (content_tag(:i, nil, class: "fa fa-file-text") + ' Install from Blueprint'), new_blueprint_install_path, class: 'btn-lg trigger-response-modal' %>
	        </li>
        	<li>
			  <%= link_to (image_tag('docker_icon.png', height: '20') + ' Install from Docker Hub'), new_docker_hub_install_path, class: 'btn-lg trigger-response-modal' %>

	        </li>

  </ul>
</div>

