<h2>Installing <%= params[:title] %></h2>

<div>
  Engine: <%= params[:engine_name] %><br>
  Host: <%= params[:host_name] %>.<%= params[:domain_name] %><br>
</div>

<pre id="installing_progress" class="top-gap">
  
</pre>

