<div class="col-sm-12 clearfix">

	<% 	available_services = @docker_hub_installation.available_services %>
	
	<div class="dropdown pull-right">
	
		<button class="btn btn-lg btn-default dropdown-toggle" id="docker_hub_install_new_application_services_button" type="button" data-toggle="dropdown">
			<%= content_tag(:i, "", class: "fa fa-plus-circle") + " Attach service" %>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
	
			<% available_services.each do |available_service|
				link_data = {typepath: available_service[:type_path], publishernamespace: available_service[:publisher_namespace]}
			%>
				<li>
					<%= link_to(
					available_service[:title], 'javascript:;',
					data: link_data,
					class: "btn-lg trigger-response-modal docker_hub_install_new_attach_services_menu_button")
					%>
				</li>

			<% end %>
	
		</ul>
	</div>
	
</div>
