<div class="col-sm-12">
  <h2><i class="fa fa-globe"></i> Domain</h2>
  <%= form_for @domain_default_name, url: domain_default_name_path, method: :patch do |f| %>
    <%= render partial: 'shared/form/errors', locals: {f: f} %>
    <%= render partial: 'shared/form/select', locals: {name: :default_domain, f: f, collection: Domain.domain_names_list} %>
    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: domains_manager_path} %>
  <% end %>
</div>